        html,body,#map_canvas {
            height: 100%;
            width: 100%;
            margin: 0px;
            padding: 0px
        }
        html,body,#map_canvas_ficha {
            height: 400px;
            width: 100%;
            margin: 0px;
            padding: 0px
        }
        #obra td {
            font-size: 10px;
        }
        .menuLateral{
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 1500;
            width: 15%;
            display: none;
            left: 0;
            top: 0;
            position: fixed;
            height: 100%;
            background-color: white!important;
            color: white;
        }
        .menuLateral h3, h4{
            margin-left: 15px;
        }
        .menuLateral a{
            color: black;
            font-size: 10px;
        }
        .menuLateral a:hover{
            color: black;
        }
        .submenu{
            margin-left: 25px;
        }
        .gradiante {
            background: #c2c3c8; /* For browsers that do not support gradients */
            background: -webkit-linear-gradient(left, #c2c3c8 , #d7d7db); /* For Safari 5.1 to 6.0 */
            background: -o-linear-gradient(right, #c2c3c8, #d7d7db); /* For Opera 11.1 to 12.0 */
            background: -moz-linear-gradient(right, #c2c3c8, #d7d7db); /* For Firefox 3.6 to 15 */
            background: linear-gradient(to right, #c2c3c8 , #d7d7db); /* Standard syntax */
        } 
        .foto{
            color: white;
            margin-left: 15px;
            height: 50px;
            width: 100%;
            
        }
        .foto img{
            height: 50px;
            width: 50px;
            border-radius: 50%;
        }


        .boton{
            background-color: transparent;
            border: 0px;
            color: white;
        }
        .row-offcanvas {
            width: 100%;
            top: 60px;
            height: calc(100% - 60px);
        }
        #main {
            width: 100%;
            height: 100%;
        }
        .tableEjemplo td{
            word-break: break-all;
        }
        #sidebar {
            width: 10%;
        }
        /*
        * off Canvas 
        */

        @media screen{
            .row-offcanvas {
                position: absolute;
                -webkit-transition: all 0.25s ease-out;
                -moz-transition: all 0.25s ease-out;
                transition: all 0.25s ease-out;
                width: auto;
            }
    
            .row-offcanvas-left{
                width: 85%;
                right: 0;
            }

            .row-offcanvas-left.active {
                width: 100%;
            }

        }
        @media screen and (max-width:600px) {
            .menuLateral{
                width: 80%!important;
            }
            #imagenesBottom{
                width: 80%!important;
            }
            #imagenesBottom img{
                padding-top: 1%!important;
            }
        }

        @media screen and (max-height: 766px) {
            .menuLateral{
                width: 15%;
            }
            .row-offcanvas-left{
                width: 85%;
                right: 0;
            }
            .imagenesBot{
                width: 40%!important;
            }
        }

